.container{
    width: 25%;
    height: 45%;
    background-color: #fff;
    margin: auto;
    margin-top: 200px;
}

.container input{
    display: block;
    margin-left: 25%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
